<div id="<%= dom_id business %>" class="tile is-parent is-vertical is-4 is-align-items-center">
  <% if business.logo_image.attached? %>
    <%= image_tag business.logo_image, size: "400" %>
  <% end %>

  <h1 class="title my-2 ">
    <%= business.name %>
  </h1>

  <a href="<%= business.website_url %>" class="button is-link is-medium wide-button">Visit Site</a>
</div>
