# fly.toml app configuration file generated for indie-visible-prod on 2023-11-14T22:36:58-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "indie-visible-prod"
primary_region = "ewr"
console_command = "/rails/bin/rails console"

[build]
  dockerfile = "../Dockerfile"

[processes]
  app = "./bin/rails server"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"
