<div class="columns is-justify-content-center">
  <div class="column">
    <div class="container">
      <h1 class="title has-text-grey-dark">Editing book</h1>
      <hr>

      <%= render "form", book: @book %>

      <br>

      <div>
        <%= link_to "Back to books", books_path, class: "button is-outlined is-link" %>
      </div>
    </div>
  </div>
</div>
