<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="title is-1">Books</h1>
  <div class="tile is-ancestor is-flex-wrap-wrap" id="books">
    <% @books.each do |book| %>
      <%= render(Books::GalleryCardComponent.new(book: book)) %>
    <% end %>
  </div>
</div>

<%= link_to "New book", new_book_path %>
