@charset "utf-8";

@import "reset/normalize";

@import "selectize";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";

@import "utilities/text-color";

// administrate was overwriting the css for the actual app because it also uses bulma;
// So now I just set the same theme colors here

$primary: #b4d2d9;
$link: #70b5c5;
$warning: #ccdde4;
$danger: #8c5c32;
$background: #efe7dc;

@import "bulma"
